@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 8px;
}
body{
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px;
}
img{
    width: 100%;
}